body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
<<<<<<< HEAD
    color: rgb(166, 255, 0);
=======
    color: rgb(235, 0, 0);
>>>>>>> cabecer
}